@import 'modern-normalize';
@import './import.css';

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;

  @media screen and (min-width: 500px) {
    flex-flow: row nowrap;
  }
}
 
.billy-image,
.ikea-b {
  width: 100%;
  height: auto;
   
  @media screen and (min-width: 500px) {
    max-height: 80vh;
    height: 40vw;
    width: auto;
  }
}

.billy-image {
  margin-right: auto;
}