<!DOCTYPE html>
<html lang="en">
  <head>
    {% metagen
      title = 'bi11y',
      desc = description
    %}
    
    <link rel="preload" href="/styles.css" as="style">
    <link rel="preload" href="/index.js" as="script">

    <link rel="stylesheet" href="/styles.css">
  </head> 
  <body>
    {{ content | safe }}
    
    <script src="/index.js"></script>
  </body>
</html>